<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信</title>
</head>
<body>
<div id="left - column">
    <h2>老爸：</h2>
    <p>新年快乐</p>
  </div>
  <div id="right - column">
    <h2>右侧栏标题</h2>
    <p>右侧栏内容</p>
  </div>
<div id="myDiv">这是一个可变色的div</div>
<button onclick="changeColor()">改变颜色</button>
<script>
  function changeColor() {
    var divElement = document.getElementById('myDiv');
    divElement.style.backgroundColor = 'yellow';
  }
</script>
<ul>
  <li>食品
    <ul>
      <li>蔬菜
        <ul>
          <li>西红柿</li>
          <li>土豆</li>
        </ul>
      </li>
      <li>肉类
        <ul>
          <li>猪肉</li>
          <li>牛肉</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>日用品</li>
</ul>
<div id="nav - menu">
  <ul>
    <li><a href="index.html">首页</a></li>
    <li><a href="about.html">关于我们</a></li>
    <li><a href="contact.html">联系我们</a></li>
  </ul>
</div>

</body>
</html>